/* Container holding the links */
.navbar {
    height: 100%;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  

  .navbar img{
    align-self: center;
    width: 150px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .navbar a {
    padding: 15px 8px 15px 16px;
    width: 80%;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: black;
    display: block;
    background-color: #e7e7e7;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
    transition: background-color 00.3s ease-in-out;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #979797;
    color: white;
  }

  .navbar input{
    padding: 15px 8px 15px 16px;
    background-color: #2d9bff;
    width: 90%;
    border: none;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: white;
  }
  