.campaign-details-boxes {
  background-color: #cdf0ff;
  height: auto; /* Set height to auto to accommodate content */
  width: 95%;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 20px auto; /* Centering the container */
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensure no overflow of child elements */
}

.row {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box; /* Ensure padding and margin are considered in width calculation */
}

.campaign-details-box {
  background-color: #c84444;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin: 10px; /* Unified margin for all sides */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  flex: 1 1 calc(50% - 20px); /* Ensure two items per row with proper margin */
  max-width: calc(50% - 20px); /* Ensure no overflow */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

/* Adjust the icon-box and text styles as needed */
.icon-box {
  margin-bottom: 10px;
}

.icon-box img {
  max-width: 90px;
  max-height: 90px;
}

.text {
  font-size: 20px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.delete-campaign-button {
  background-color: #dc3545; /* Bootstrap danger color for a delete button */
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.delete-campaign-button:hover {
  background-color: #c82333; /* Darker red for hover effect */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.delete-campaign-button:active {
  background-color: #a71d2a; /* Even darker red for active state */
  transform: scale(0.95); /* Slightly shrink the button on click */
}
