.OverViewTileTwoContainer{
    width: 95%;
    height: 300px;
    margin-top: 20px;
    background-color: #8FD9FA;
    color: white;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    font-size: 36px; 
    box-sizing: border-box;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 

    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}