.create-new-Client-container{
    background-color: #CDF0FF;
    height: 600px;
    width: 95%;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    padding: 10px 20px;
}

.container-heading{
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.nameContainer{
    font-size: 18px;
    padding: 10px 25px;
    font-family: "Poppins", sans-serif;
    border: none;
    margin-top: 10px;
    outline: none;
    border-radius: 12px;
}