.form-view-data{
    padding: 10px 10px;
}

.form-view-data-container {
    background-color: #CDF0FF;
    height: 75vh;
    width: 95%;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    padding: 20px;
    transition: box-shadow 0.3s ease-in-out;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    overflow-x: auto; /* Ensure horizontal scroll */
    overflow-y: auto; /* Ensure vertical scroll */
    width: 100%;
    flex-grow: 1;
    border-radius: 12px; /* Add border-radius to the container for proper scrolling */
    -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

.table-container::-webkit-scrollbar {
    display: none;  /* Hide scrollbar in Chrome, Safari, and Opera */
}

table {
    font-family: "Poppins", sans-serif;
    font-size: 20px; 
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 12px; /* Add border-radius to the table */
    overflow: hidden; /* Ensure border-radius is applied properly */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better appearance */
}

thead {
    background-color: #3751b6;
    color: #fff;
}

th, td {
    padding: 12px;
    border: 1px solid #dee2e6;
    text-align: left;
    font-size: 16px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Add hover effect for table rows */
tbody tr:hover {
    background-color: #e0e0e0;
}

/* Add border-radius to thead and tbody separately for better control */
thead {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

tbody {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


.refresh-button {
    align-items: center;
    margin-top: 25px;
    padding: 10px 0;
    width: 200px;
    border: none;
    border-radius: 18px;
    background-color: #2d9bff;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-right: 10px;
}

.refresh-button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.30);
    transform: translateY(-2px);
}

.refresh-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.buttons{
    display: flex;
    flex-direction: row;
}