.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;

}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
    margin-top: 0;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.inputField{
    outline: none;
    padding: 10px;
}

.form-group input[type="text"] {
    width: 90%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-family: "Poppins", sans-serif;

}

.modal-actions {
    text-align: right;
    margin-top: 10px;
}

.modal-close-btn,
.modal-create-btn {
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.modal-close-btn {
    background-color: #ccc;
}

.modal-create-btn {
    background-color: #007bff;
    color: #fff;
    margin-left: 10px;
}

.modal-create-btn:hover {
    background-color: #0056b3;
}
