.drop-area {
height:  80vh;
width: 500px;
background-color: white;
display: flex;
flex-direction: column;
border-radius: 10px;
padding-left: 20px;
padding-right: 20px;
overflow-y: scroll;
-ms-overflow-style: none;
scrollbar-width: none; 
}


.drop-area::-webkit-scrollbar {
  display: none;  
}


p{
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

