.drop-area {
height:  80vh;
width: 700px;
background-color: white;
display: flex;
flex-direction: column;
border-radius: 10px;
padding-left: 20px;
padding-right: 20px;
overflow-y: scroll;
-ms-overflow-style: none;
scrollbar-width: none; 
}


.drop-area::-webkit-scrollbar {
  display: none;  
}


p{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1px;
  color: grey;
}

.submitFormBtn{
  border: none;
  padding: 10px 25px;
  background-color: #3751b6;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
  width: 300px;
}

