.OverViewTileOneBox-container {
    background-color: #00DA82;
    border-radius: 16px;
    height: 250px;
    width: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s, box-shadow 0.3s; 
    margin: 10px;
}

.OverViewTileOneBox-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.containerone-title {
    margin: 0;
    color: white;
    font-size: 32px; 
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.container-number { 
    margin: 0;
    color: white;
    font-size: 72px;
    text-align: center;
    font-family: "Poppins", sans-serif;   
    font-weight: 900;
}

@media (max-width: 768px) {
    .OverViewTileOneBox-container {
        height: 150px;
        width: 150px;
    }

    .containerone-title {
        font-size: 24px;
    }

    .container-number {
        font-size: 48px;
    }
}

@media (max-width: 480px) {
    .OverViewTileOneBox-container {
        height: 150px;
        width: 150px;
    }

    .containerone-title {
        font-size: 18px;
    }

    .container-number {
        font-size: 36px;
    }
}
